body {
  background-color: #272727;
  font-family: "Source Sans Pro", sans-serif;
}

#burger-img{
  width: 25%;
  height: 25%;
  
}

input, label {
  display:block;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}


button {
  margin: 5px;
  background-color: #95BF15;
  border: 1px #272727 solid;
  border-radius: 5px;
}
