body {
  background-color: #272727;
  font-family: "Source Sans Pro", sans-serif;
}

#burger-img{
  width: 25%;
  height: 25%;
  
}

input, label {
  display:block;
  margin: 0 auto;
  border-radius: 5px;
}
h5{
  font-style: italic;
}

ul {
  list-style-type: none;
}
.devour-button{
  background-color:black;
  color: aliceblue;
  border-radius: 5px;
  border: 1px #272727 solid;
  margin: 5px;
}

.submit-button {
  margin: 5px;
  background-color: #f3e410;
  border: 1px #272727 solid;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 9px #999;
}
.submit-button:active {
  background-color: #f1eae4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
